landscape-one-hill-smooth.glb filter=lfs diff=lfs merge=lfs -text
Ramp-Side.glb filter=lfs diff=lfs merge=lfs -text
sonic-loop-future-2.glb filter=lfs diff=lfs merge=lfs -text
sonic-loop-future.glb filter=lfs diff=lfs merge=lfs -text
.res filter=lfs diff=lfs merge=lfs -text
player-test-2.res filter=lfs diff=lfs merge=lfs -text
Debug-Textures/Dark filter=lfs diff=lfs merge=lfs -text
Debug-Textures/Green filter=lfs diff=lfs merge=lfs -text
Debug-Textures/Light filter=lfs diff=lfs merge=lfs -text
Debug-Textures/Orange filter=lfs diff=lfs merge=lfs -text
Debug-Textures/Purple filter=lfs diff=lfs merge=lfs -text
Debug-Textures/Red filter=lfs diff=lfs merge=lfs -text
Assets/Debug-Textures/Purple filter=lfs diff=lfs merge=lfs -text
Assets/Debug-Textures/Red filter=lfs diff=lfs merge=lfs -text
Assets/Debug-Textures/Dark filter=lfs diff=lfs merge=lfs -text
Assets/Debug-Textures/Green filter=lfs diff=lfs merge=lfs -text
Assets/Debug-Textures/Light filter=lfs diff=lfs merge=lfs -text
Assets/Debug-Textures/Orange filter=lfs diff=lfs merge=lfs -text
Assets/Components/*.res filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
Assets/Components/movement_state_component.res filter=lfs diff=lfs merge=lfs -text
Assets/Components/suspension_component.res filter=lfs diff=lfs merge=lfs -text
Assets/Components/boom_hud_component.res filter=lfs diff=lfs merge=lfs -text
Assets/Components/boom_movement_state_component.res filter=lfs diff=lfs merge=lfs -text
Assets/Components/boost_manager_component.res filter=lfs diff=lfs merge=lfs -text
Assets/Components/chase_camera_look_at_component.res filter=lfs diff=lfs merge=lfs -text
Assets/Components/chase_camera_root_component.res filter=lfs diff=lfs merge=lfs -text
Assets/Components/movement_forces_component.res filter=lfs diff=lfs merge=lfs -text
Assets/Resources/progress_bar_theme.res filter=lfs diff=lfs merge=lfs -text
Assets/Resources/BaseAccelCurvePlayer.res filter=lfs diff=lfs merge=lfs -text
Assets/Resources/movement_component.res filter=lfs diff=lfs merge=lfs -text
Assets/Sounds/sonic_boost_session.wav filter=lfs diff=lfs merge=lfs -text
Assets/Sounds/sonic_boost_session.wav.import filter=lfs diff=lfs merge=lfs -text
Assets/Sounds/sonic-roll.wav filter=lfs diff=lfs merge=lfs -text
Assets/Sounds/sonic-roll.wav.import filter=lfs diff=lfs merge=lfs -text
Assets/Sounds/wind-sound.wav filter=lfs diff=lfs merge=lfs -text
Assets/Sounds/wind-sound.wav.import filter=lfs diff=lfs merge=lfs -text
Assets/Meshes/landscape-one-hill-smooth.glb filter=lfs diff=lfs merge=lfs -text
Assets/Meshes/Ramp-Side.glb filter=lfs diff=lfs merge=lfs -text
Assets/Meshes/mod-roads-32-32/road-ramp-down-10.5-meters.glb filter=lfs diff=lfs merge=lfs -text
Assets/Meshes/mod-roads-32-32/road-camber-15-deg.glb filter=lfs diff=lfs merge=lfs -text
Assets/Meshes/mod-roads-32-32/road-flat-to-camber-15-deg.glb filter=lfs diff=lfs merge=lfs -text
Assets/Meshes/mod-roads-32-32/road-flat-turn-15-deg.glb filter=lfs diff=lfs merge=lfs -text
Assets/Meshes/mod-roads-32-32/road-flat-turn-30-deg.glb filter=lfs diff=lfs merge=lfs -text
Assets/Meshes/mod-roads-32-32/road-flat-turn-45-deg.glb filter=lfs diff=lfs merge=lfs -text
Assets/Meshes/mod-roads-32-32/road.glb filter=lfs diff=lfs merge=lfs -text
Assets/Meshes/mod-roads-32-32/road-ramp-up-10.5-meters.glb filter=lfs diff=lfs merge=lfs -text
Assets/Meshes/mod-roads-32-32/mod-road-32-32.glb filter=lfs diff=lfs merge=lfs -text
Assets/Meshes/Basic/GH-Ramp-45-Base.glb filter=lfs diff=lfs merge=lfs -text
Assets/Meshes/Basic/GH-Ramp-45.glb filter=lfs diff=lfs merge=lfs -text
Assets/Meshes/Basic/GH-ramp-straight-45.glb filter=lfs diff=lfs merge=lfs -text
Assets/Meshes/Basic/gh-base-wall-4x05.glb filter=lfs diff=lfs merge=lfs -text
Assets/Meshes/Basic/gh-base-wall-4x2.glb filter=lfs diff=lfs merge=lfs -text
Assets/Meshes/Basic/GH-loop-piece-90-degrees.glb filter=lfs diff=lfs merge=lfs -text
Assets/Meshes/Basic/GH-Ramp-straight-225-Base.glb filter=lfs diff=lfs merge=lfs -text
Assets/Meshes/Basic/ramp-straight-base-bottom-1125.glb filter=lfs diff=lfs merge=lfs -text
Assets/Meshes/Basic/ramp-straight-base-bottom-225.glb filter=lfs diff=lfs merge=lfs -text
Assets/Meshes/Basic/ramp-straight-base-60.glb filter=lfs diff=lfs merge=lfs -text
Assets/Meshes/Basic/ramp-straight-base-bottom-60.glb filter=lfs diff=lfs merge=lfs -text
Assets/Meshes/Basic/ramp-straight-base-bottom.glb filter=lfs diff=lfs merge=lfs -text
Assets/Meshes/Basic/gh-base-wall-4x1.glb filter=lfs diff=lfs merge=lfs -text
Assets/Meshes/Basic/loop-de-loop.glb filter=lfs diff=lfs merge=lfs -text
Assets/Entities/mouse_3_rd_person_cam.res filter=lfs diff=lfs merge=lfs -text
Assets/Entities/player.res filter=lfs diff=lfs merge=lfs -text
